.outerFeatured {
    background: 
    linear-gradient(to top,rgb(0, 0, 0),rgba(0, 0, 0, 0.125)), url("../Images/featured.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 760px;
    position: relative;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 30px auto;
}

.headingFeatured {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.lowerSectionFeatured {
    background-color: black;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 161px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;

}

.boxFeatured {
    width: 336px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.greenBoxFeatured {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #309689;
    color: white;
}

.lowerHeadingFeatured {
    color: white;
    font-size: 20px;
    font-weight: 600;

}


.btnFeatured {
    color: #309689;
    background-color: transparent;
    border: none;

}