.sectionTestimonial {
    width: 100%;
    /* height: 788px; */
    background-color: #EBF5F4;
    padding: 120px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.slidesHandleTestimonial {
    width: 1296px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.headingTestimonial {
    font-size: 50px;
    font-weight: 700;
    color: black;
}

.tagTestimonial {
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
.swiperSlide {
    width: 416px !important; /* Add !important to override Swiper's inline styles */
}

